@import url('../../assets/less/base.less');
.app-header{
  color: #fff;
  height: 100%;
  overflow: hidden;
  position: relative;
  .tool-wrapper{
    height: 20px;
    margin-top:4px;
    width: 100px;
    &:hover{
      i{
        visibility: visible!important;
      }
    }
    &>span{
      width: 18px;
      height: 18px;
      border-radius: 9px;
      margin-left:10px;
      line-height: 18px;
      vertical-align: top;
      float: left;
      cursor: pointer;
      i{
        display: inline-block;
        transform: translate(0, -1px);
        font-style: normal;
        color: #000;
        visibility: hidden;
        opacity: 0.4;
      }
    }
    .close-point{
      background: #eb6a5f;
    }
    .min-point{
      background: #f5be50;
    }
    .max-point{
      background: #62c556;
    }
  }
  .login-wrapper{
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width: 100px;
    border-left:1px solid darken(@baseColor, 10%);
    .popover-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .login-arrow-down{
      border:7px solid transparent;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-top-color: #fff;
      transform: translate(5px, 8px);
    }
  }
}
::ng-deep .login-wrapper--popover_content__wrapper{
  transform: translate(-34px, -10px);
  width: 310px;
  .popover-content{
    .popover-header{
      display: flex;
      align-items: center;
      .popover-userName{
        margin-left: 15px;
      }
    }
    .popover-message{
      display: flex;
      margin-top: 15px;
      padding-bottom: 20px;
      border-bottom:1px solid #eaeaea;
      margin-bottom: 5px;
      &>div{
        flex: 1;
        border-right: 1px solid #eaeaea;
        padding-left:5px;
        &>span:first-child {
          font-weight: 700;
        }
      }
      &>div:last-child{
        border-right: none;
      }
    }
    .popover-nav-item{
      display: flex;
      justify-content: space-around;
      height: 32px;
      align-items: center;
      cursor: pointer;
      margin: auto -16px;
      padding: 0 16px;
      &:hover{
        background-color: darken(#fff, 10%);
      }
      .item-left{
        flex:1;
        &>span:first-child, &>i:first-child{
          margin-right:10px;
        }
      }
      .item-right{
        width: 50px;
        text-align: right;
      }
    }
    .popover-footer{
      margin: 0 -16px;
      border-top:1px solid @lineColor;
      padding: 10px 16px;
      overflow: hidden;
      margin-bottom: -12px;
      cursor: pointer;
      &:hover{
        background-color: darken(#fff, 10%);
      }
    }
  }
}