<div class='app-header'>
  <div class='tool-wrapper'>
    <span class='close-point'>
      <i>x</i>
    </span>
    <span class='min-point' (click)='handleMin()'>
      <i>-</i>
    </span>
    <span class='max-point' (click)='handleMax()'>
      <i>+</i>
    </span>
  </div>
  <div class='login-wrapper'>
    <div class='popover-wrapper'
      nz-popover
      nzTrigger='focus'
      [nzContent]='contentTemplate'
      nzPlacement='bottomRight'
      nzOverlayClassName='login-wrapper--popover_content__wrapper'
      (click)='handleLogin()'
      [nzVisible]='isVisible && isLogined'
      >
      <nz-avatar nzIcon="anticon anticon-user" [nzSrc]='userInfo?.avatarUrl'></nz-avatar>
      <span class='login-arrow-down'></span>
    </div>
    <ng-template #contentTemplate>
      <div class='popover-content'>
        <div class='popover-header'>
            <nz-avatar nzSize="large" nzIcon="anticon anticon-user" [nzSrc]='userInfo.avatarUrl'></nz-avatar>
            <span class='popover-userName'>{{userInfo.nickname}}</span>
        </div>
        <div class='popover-message'>
          <div>
            <span>0</span><br/>
            <span>动态</span>
          </div>
          <div>
            <span>1</span><br/>
            <span>关注</span>
          </div>
          <div>
            <span>2</span><br/>
            <span>粉丝</span>
          </div>
        </div>
        <div class='popover-nav-item'>
          <div class='item-left'>
            <span class='wangyi-icon-pengyou'></span>
            <span>会员中心</span>
          </div>
          <div class='item-right'>
            <span>1</span>
            <i nz-icon type="right" theme="outline"></i>
          </div>
        </div>
        <div class='popover-nav-item'>
          <div class='item-left'>
            <span class='wangyi-icon-shezhi'></span>
            <span>个人中心设置</span>
          </div>
          <div class='item-right'>
            <span>1</span>
            <i nz-icon type="right" theme="outline"></i>
          </div>
        </div>
        <div class='popover-nav-item'>
          <div class='item-left'>
            <i nz-icon type="phone" theme="outline"></i>
            <span>绑定社交账号</span>
          </div>
          <div class='item-right'>
            <span>1</span>
            <i nz-icon type="right" theme="outline"></i>
          </div>
        </div>
        <div class='popover-footer' (click)='handleLoginOut()'>
          <i nz-icon type="poweroff" theme="outline"></i>退出登录
        </div>
      </div>
    </ng-template>
  </div>
  <app-registe (hidePopover)='handleHidePopover($event)'  [isVisible]='isVisible'></app-registe>
  <!-- <button nz-button nzType="default" style='float:right' (click)='handleLogin()'>login9999</button> -->
  <!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <button nz-button nzType="default" (click)="handleToggleLogin()" *ngIf="!showLoginForm">注册</button>
    <div *ngIf="showLoginForm">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm($event,validateForm.value)">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback>
              <input nz-input formControlName="userName" placeholder="请填写用户名">
              <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors || validateForm.get('userName').pending ">
                <ng-container *ngIf="validateForm.get('userName').hasError('required')">
                  Please input your username!
                </ng-container>
                <ng-container *ngIf="validateForm.get('userName').hasError('duplicated')">
                  The username is redundant!
                </ng-container>
                <ng-container *ngIf="validateForm.get('userName').pending">
                  Validating...
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
              <input nz-input formControlName="password" placeholder="请填写密码">
              <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors || validateForm.get('password').pending ">
                  <ng-container *ngIf="validateForm.get('password').hasError('required')">
                    Please input your password!
                  </ng-container>
                </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit111222211</button>
      </form>
    </div>
  </nz-modal> -->
</div>