<div class='app-registe-wrapper'>
  <nz-modal [(nzVisible)]="isVisible && !isLogined" nzTitle="" (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event)">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input formControlName="userName" nz-input placeholder="用户名">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').hasError('required')">请输入手机号！</nz-form-explain>
          <nz-form-explain *ngIf="!validateForm.get('userName').hasError('required') && validateForm.get('userName').dirty && validateForm.get('userName').hasError('notPhone')">请输入正确的手机号！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input formControlName="password" nz-input type="password" placeholder="密码">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">登录</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </nz-modal>
</div>